<h3>Fabricantes</h3>

<% if @manufacturers.empty? %>
    <p> Não existe fabricantes cadastrados</p>
<% end %>

<% @manufacturers.each do |manufacturer| %>
    <%= link_to manufacturer.name, manufacturer_path(manufacturer) %>
<% end %>

