<h3>Filiais</h3>

<%= link_to 'Registrar nova Filial', new_subsidiary_path %><br>

<% if @subsidiaries.empty? %>
    <p> Não existe filiais cadastradas</p>
<% end %>

<% @subsidiaries.each do |subsidiary| %>
    <%= link_to subsidiary.name, subsidiary_path(subsidiary) %>
<% end %>
