<h3>Filiais</h3>

<% if @subsidiaries.empty? %>
    <p> Não existe filiais cadastradas</p>
<% end %>

<% @subsidiaries.each do |subsidiary| %>
    <%= link_to subsidiary.name, subsidiary_path(subsidiary) %>
<% end %>
