<h1><center> Rental Cars </h1>
<h3><center> Bem vindo ao sistema de gestão de locação </h3>

<%= link_to 'Fabricantes',  manufacturers_path %><br>
<%= link_to 'Filiais',  subsidiaries_path %><br>
<%= link_to 'Categorias Carros',  car_categories_path %><br>
